venv
__pycache__/
**/__pycache__/

.idea
idea
.env

*.egg-info/
.installed.cfg
*.egg

dist


**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

media/*
!*media

erl_crash.dump
dump.rdb

src/certs/jwt-private.pem
src/certs/jwt-public.pem
alembic/versions
